/*---- CSS DE BASE ------*/
html, body
{
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
}

.main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer
{
    display: flex;
    width:100%;
    height:100px;

    margin: 0 auto 0 auto;
    padding: 0 0 0 0;

    background-color: #000;
    color: white;
    font-size:0.7em;
    
}
.texte
{
    width: 75%;
    margin: 0 auto 0 auto;  
    padding: 0 0 0 0;
}

/*----- CSS DU HEADER ------- */
#onglets{
    margin: 0 auto;
    display:flex;
    height: 70px;
    width: 100%;
    background-color:rgb(15,100,200);
    justify-content: center;
}

.onglet a{
    display:flex;
    height:70px;
    width: 140pxvw;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:1.5rem;
    padding: 0 50px 0 50px;
}

.onglet a:hover{
    color:black;
    background-color:rgb(230,230,230);
}
#accueil a{
    display:flex;
    height:70px;
    width:70px;
    background: url("Images/Accueil_vendeur.png");
    background-size: 70px 70px;
}

#accueil a:hover{
    background: url("Images/Accueil_hover_vendeur.png");
    background-size: 70px 70px;
}

#profile a{
    display:flex;
    height:70px;
    width:70px;
    background: url("Images/User_Logo.png");
    background-size: 70px 70px;
}

#profile a:hover{
    background: url("Images/User_Logo_Hover.png");
    background-size: 70px 70px;
}


.sousmenu{
    position:relative;
    width:10vw auto;
    display:flex;
    flex-direction: column;
    background-color: rgb(98, 136, 180);
    color:white;
    font-size: 1.2rem;
    text-align: center;
    /*height:0;
    overflow-y: hidden;*/
}
.sousmenu_elt{
    padding: 20px;
}

.sousmenu_elt:hover{
    color:#555;
    background-color:white;
}

.onglet .sousmenu{
    transform:scaleY(0);
}

.onglet:hover .sousmenu{
    /*height:auto;*/
    transform:scale(1);
    transform-origin: top;
    transition: transform 0.3s ease;
}
.contact li
{
    list-style-type: none;
    color: white;
}

.contact:hover
{
    text-decoration: underline;
}

#connexion
{
    position: left;
}

#inscription
{
    position: left;
}

.left-header
{
    justify-content: flex-end;
}

/*-----GESTION DE L'AFFICHE DES JEUX EN PAGE D'ACCEUIL ------*/

h5 
{
	font-weight: 500;
	line-height: 1.7em;
}

h6 
{
	color: #666;
	font-size: 14px;
}

.products 
{
	display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 50px;
    max-width: 75vw;

    /* margin-left: 400px;     */

}
.products a
{
    color: black;
    text-decoration: none;

}

.product-card 
{
    
	display: flex;
	flex-direction: column;
    align-items: center;
    margin:auto;

	padding: 1%;
    flex-grow: 1;
    flex-basis: 16%;
    
	background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img 
{
    width: calc(400px - height);
    height: 250px;
}

.product-info 
{
	margin-top: auto;
	padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) 
{
	
    .product-card 
    {
		flex: 1 21%;
	}
	
	.products .product-card:first-child, 
    .products .product-card:nth-child(2) 
    {
		flex: 2 46%;
	}
	
}
@media ( max-width: 600px ) 
{
	
	.product-card {
		flex: 1 46%;
	}
	
}

@media ( max-width: 480px ) 
{
	
    h1 
    {
		margin-bottom: 20px;
	}
	
    .product-filter 
    {
		flex-direction: column;
	}
	
    .sort 
    {
		align-self: flex-start;
	}
	
}


/*------- CSS DU PROFILE ------- */

.profileInfoBloc
{
    background-color: white;
    width:70vw;
    margin: 10px auto 10px auto;
    padding: 0 0 0 0;
    border-radius: 25px;
}

.info 
{
    display: inline-block;
    text-align: justify;
    align-items: flex-start;
    width: 49%;
    background-color: darkgray;
    margin: 10px auto 10px auto;
    
}

#formulaire
{
    background-color: lightgrey;
    min-height: 55vh;
    text-align: center;
}

#formulaire h1{
    font-size: 125px;
}

.co{
    padding-top: 5px;
}

.inscri{
    padding-top: 5vh;
}

#errorlogin
{
    min-height : 10%;
    width:70%;
    background-color: rgb(255, 161, 161);
    margin:10px auto 10px auto;
    border-radius: 15px;
    border-width:10px;
    border-style: solid;
    border-color: red;
    text-align: center;
}

/*---------- CSS DES FILTRES ----------- */
.product-filter
{
    display: flex;
    width: 400px;

}
.product-filter h1 
{
    flex-grow: 1;
}
.sort
{
    display: block; 
    text-align: right;
    background-color: rgb(15,100,200);
    color: white;
    padding:150px 20px ;
}

select 
{
    text-align: center;
}

/*------------ CSS DU FOCUS SUR UN JEU  ------------ */ 

.products-focus 
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 60vw;
}
.products-focus a
{
    color: black;
    text-decoration: none;

}

.product-focus-card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-focus-image img 
{
    width: calc(400px - height);
    height: 250px;
}

.product-focus-info 
{
	margin-top: auto;
	padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) 
{
	
    .product-focus-card 
    {
		flex: 1 21%;
	}
	
	.products-focus .product-focus-card:first-child, 
    .products-focus .product-focus-card:nth-child(2) 
    {
		flex: 2 46%;
	}
	
}
@media ( max-width: 600px ) 
{
	
	.product-focus-card {
		flex: 1 46%;
	}
	
}

@media ( max-width: 480px ) 
{
	
    h1 
    {
		margin-bottom: 20px;
	}
	
    .product-focus-filter 
    {
		flex-direction: column;
	}
	
    .sort 
    {
		align-self: flex-start;
	}
	
}

/*------------ CSS DES INPUTS  ------------ */ 

input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: darkblue;
    border-radius: 25px;
  }

input[type=password]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: darkblue;
    border-radius: 25px;
}

input[type=submit]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 10px 10px 0;
    background-color: rgb(1, 207, 128);
    font-size: 25px;
    border-radius: 25px;
}

input[type=date]{
    padding: 10px;
    font-size: 15px;
}